<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js"></script>
    <title>Start</title>
    <script type="text/javascript">
        var app = angular.module("CassandraManagement", []);

        //Controller Part
        app.controller("CassandraController", function($scope, $http) {


            $scope.entries = [];
            $scope.cassandraForm = {
                correlationId : "",
                ip: ""
            };

            $scope.fetchData = function() {
                var url = "/getData"

                if($scope.cassandraForm.ip === "") {
                    url = url + "/" + $scope.cassandraForm.correlationId;
                } else {
                    url = url + "?correlationID=" + $scope.cassandraForm.correlationId + "&ip=" +$scope.cassandraForm.ip
                }
                $http({
                    method : "GET",
                    url : url,
                    data : angular.toJson($scope.customerForm),
                }).then( _success, _error );
            };


            function _success(response) {
                console.log(angular.fromJson(response));
                $scope.entries = response.data;
            }

            function _error(response) {
                console.log(response);
            }
        });
    </script>
    <style>
        table {
            border: 1px solid black;
            border-spacing: 0px;
        }

        th {
            background-color: #5f98d4;
            border: 1px solid black;
        }

        td {
            border: 1px solid black;
        }
    </style>
</head>
<body ng-app="CassandraManagement" ng-controller="CassandraController">
    <h1>CorrelationID</h1>
    <form ng-submit="fetchData()">
        <input type="text" ng-model="cassandraForm.correlationId"  title="correlationId" style="width: 300px;"/>
        <select name="ip" size="2" ng-model="cassandraForm.ip">
            <option value="127.0.0.1">127.0.0.1</option>
            <option value="127.0.0.1">10.10.10.10</option>
        </select>
        <input type="submit" value="Submit" />
    </form>
    <table >
        <tr>
            <th>key</th>
            <th>timestamp</th>
            <th>metadata</th>
            <th>payload</th>
        </tr>
        <tr ng-repeat="entry in entries">
            <td>{{ entry.key }}</td>
            <td>{{ entry.timestamp | date:'dd-MM-yyyy HH:mm:ss,sss'}}</td>
            <td><textarea style="border:none; width:300px; height:150px;" title="metaData">{{ entry.metadata }}</textarea></td>
            <td><textarea style="border:none; width:1000px; height:500px" title="payload">{{ entry.payload }}</textarea></td>
        </tr>
    </table>
</body>
</html>